<f:layout name="Default" />
<f:section name="content">
<h1>TYPO3Mind page properties for &quot;{page.title}&quot;</h1>
<f:form action="editPagesSave" controller="T3mind" name="T3mind" id="T3mind" object="{T3mind}">
<f:form.hidden name="options[pageUid]" value="{page.uid}"/>			
<ul>
	<li>
		<h2>Saving options</h2> 
		<ul class="fixedLine">
			<li>
				<f:form.hidden id="ajaxSaveHidden" name="options[action]" value=""/>			
				<button class="ajaxSave" type="submit" value="0" title="Save"><img src="sysext/t3skin/icons/gfx/savedok.gif"/></button>
				<button class="ajaxSave" type="submit" value="1" title="Delete"><img src="sysext/t3skin/icons/gfx/deletedok.gif"/></button> 
			</li>
 
			<li> <label for="recursiv">Copy settings below recursively?</label>
			<f:form.checkbox id="recursiv" name="options[recursiv]" value="1"/> </li>

			<li> <label for="copy">Copy all settings to Page UID:</label>
			<f:form.textfield id="copy" name="options[copy2uid]" maxlength="5" value=""/>  </li>

		</ul><div class="clear"/>
	</li>

	<li>
		<h2>Font</h2>
		<ul class="fixedLine">
			<li> <label id="nodeFont" for="fontf">Name (SansSerif, Arial ...)</label>
				<f:form.textfield id="fontf" property="fontFace" value=""/> </li>
			<li> <label for="fonts">Size (12, 14, 16, 18 ...)</label>
			<f:form.select id="fonts" property="fontSize" options="{10:10,12:12,14:14,16:16,18:18}"/> </li>
			</li>
			<li> <label for="fontc">Color</label>
			<div id="fontcArea" class="colorarea"/><f:form.textfield id="fontc" property="fontColor" maxlength="6"/></div></li>
			<li><f:form.checkbox id="fontb" property="fontBold" value="1"/> <label style="font-weight:bold;" for="fontb">is bold?</label></li>
			<li><f:form.checkbox id="fonti" property="fontItalic" value="1"/> <label style="font-style:italic;" for="fonti">is italic?</label></li>
		</ul><div class="clear"/>
	</li>
	<li>
		<h2>Cloud</h2> 
		<ul class="fixedLine">
			<li><f:form.checkbox id="cloudi" property="cloudIs" value="1"/> <label for="cloudi">is Cloud?</label></li>
			<li> <label for="cloudc">Color</label>
			<div id="cloudcArea" class="colorarea"/><f:form.textfield id="cloudc" property="cloudColor" maxlength="6"/> </div></li>
		</ul><div class="clear"/>
	</li>
	<li>
		<h2>Node</h2>
		<ul class="fixedLine">
			<li><f:form.checkbox id="nodef" property="nodeFolded" value="1"/> <label for="nodef">is Folded?</label></li>
			<li> <label for="nodec">Color</label>
			<div id="nodecArea" class="colorarea"/><f:form.textfield id="nodec" property="nodeColor" maxlength="6"/></div></li>
			<li> <label for="nodep">Style</label>
			<f:form.select id="nodep" property="nodeStyle" options="{nodeStyles}"/> </li>
		</ul><div class="clear"/>
	</li>
	
	<li>
		<h2>Edge</h2>
		<ul class="fixedLine">
			<li> <label for="edgec">Color</label>
			<div id="edgecArea" class="colorarea"/><f:form.textfield id="edgec" name="edge[color]" maxlength="6" value=""/></div></li>
			<li> <label for="edges">Style</label>
			<f:form.select id="edges" name="edge[style]" options="{edgeStyles}" value=""/> </li>
			<li> <label for="edges">Width</label>
			<f:form.select id="edges" name="edge[width]" options="{edgeWidths}" value=""/> </li>
		</ul><div class="clear"/>
	</li>
	
	<li>
		<h2>User Icons</h2>
		<ul class="fixedLine">
			<f:for each="{userIcons}" as="icon" key="name">
				<li>
					<f:form.checkbox id="cui{name}" name="nodeUsericon[]" value="{name}"/>
					<label for="cui{name}"><f:image class="nodeIcon" src="{icon}" alt="{name}" />{name}</label>
				</li>
				
			</f:for>
		</ul>
		<div class="clear"/>
	</li>
	
	<li>
		<h2>Node Icons</h2>
		<ul class="fixedLine">
			<f:for each="{icons}" as="icon" key="name">
				<li>
					<f:form.checkbox id="cb{name}" name="nodeicon[]" value="{name}"/>
					<label for="cb{name}"><f:image class="nodeIcon" src="{f:uri.resource(path:'{icon}')}" alt="{name}" />{name}</label>
				</li>
				
			</f:for>
		</ul>
		<div class="clear"/>
	</li>
	
</ul>

</f:form>

</f:section>