<f:layout name="Default" />
<f:section name="content">

<h1><f:translate key="html.export.header"/></h1>

<f:if condition="{iserror}">
	<f:then>
	<h2><f:translate key="html.export.header.error" arguments="{filename:filename}"/></h2>
	<p><f:translate key="html.export.header.error.text"/></p>
		<table class="error" border="1" cellpadding="3" cellspacing="0">
		  <tr>
			<th>Level</th>
			<th>Line No</th>
			<th>Column No</th>
			<th>Message</th>
		  </tr>
		<f:for each="{errors}" as="obj" key="index">
		  <tr>
			<td>{obj.level}</td>
			<td>{obj.line}</td>
			<td>{obj.column}</td>
			<td>{obj.message}</td>
		  </tr>
		</f:for>
		</table>
	
	</f:then>
	<f:else>
		<h2><a href="{downloadURL}">{filename}</a></h2>
	</f:else>
</f:if>

<h2><f:translate key="html.export.Filesize" arguments="{filekb:filekb}"/></h2>
<h2><f:translate key="html.export.Duration" arguments="{duration:duration}"/></h2>



</f:section>