<f:layout name="Default" />
<f:section name="content">
<h1>FreeMind2 page properties for &quot;{page.title}&quot;</h1>
<f:form action="EditPagesSave">
<ul>
	<li>
		<h2>Saving options</h2> 
		<ul class="fixedLine">
			<li> 
			<button id="ajaxSave" type="button">Save Settings</button> </li>

			<li> <label for="recursiv">Copy settings below recursively?</label>
			<f:form.checkbox id="recursiv" name="recursiv" value="1"/> </li>

			<li> <label for="remove">Remove all settings?</label>
			<f:form.checkbox id="remove" name="remove" value="1"/> </li>

			<li> <label for="copy">Copy all settings to Page UID:</label>
			<f:form.textfield id="copy" name="copy2uid" maxlength="5" value=""/>  </li>
		</ul><div class="clear"/>
	</li>

	<li>
		<h2>Font</h2>
		<ul class="fixedLine">
			<li> <label id="nodeFont" for="fontf">Name (SansSerif, Arial ...)</label>
				<f:form.textfield id="fontf" name="font[face]" value=""/> </li>
			<li> <label for="fonts">Size (12, 14, 16, 18 ...)</label>
			<f:form.select id="fonts" name="font[size]" options="{10:10,12:12,14:14,16:16,18:18}" value="12"/> </li>
			</li>
			<li> <label for="fontc">Color</label>
			<div id="fontcArea" class="colorarea"/><f:form.textfield id="fontc" name="font[color]" maxlength="6" value=""/></div></li>
			<li><f:form.checkbox id="fontb" name="font[bold]" value="1"/> <label style="font-weight:bold;" for="fontb">is bold?</label></li>
			<li><f:form.checkbox id="fonti" name="font[italic]" value="1"/> <label style="font-style:italic;" for="fonti">is italic?</label></li>
		</ul><div class="clear"/>
	</li>
	<li>
		<h2>Cloud</h2> 
		<ul class="fixedLine">
			<li><f:form.checkbox id="cloudi" name="cloud[is]" value="1"/> <label for="cloudi">is Cloud?</label></li>
			<li> <label for="cloudc">Color</label>
			<div id="cloudcArea" class="colorarea"/><f:form.textfield id="cloudc" name="cloud[color]" maxlength="6" value=""/> </div></li>
		</ul><div class="clear"/>
	</li>
	<li>
		<h2>Node</h2>
		<ul class="fixedLine">
			<li><f:form.checkbox id="nodef" name="node[folded]" value="1"/> <label for="nodef">is Folded?</label></li>
			<li> <label for="nodec">Color</label>
			<div id="nodecArea" class="colorarea"/><f:form.textfield id="nodec" name="node[color]" maxlength="6" value=""/></div></li>
			<li> <label for="nodep">Position</label>
			<f:form.select id="nodep" name="node[position]" options="{0:'Default',r:'Right',l:'Left'}" value="l"/> </li>
		</ul><div class="clear"/>
	</li>
	
	<li>
		<h2>Edge</h2>
		<ul class="fixedLine">
			<li> <label for="edgec">Color</label>
			<div id="edgecArea" class="colorarea"/><f:form.textfield id="edgec" name="edge[color]" maxlength="6" value=""/></div></li>
			<li> <label for="edges">Style</label>
			<f:form.select id="edges" name="edge[style]" options="{edgeStyles}" value=""/> </li>
			<li> <label for="edges">Width</label>
			<f:form.select id="edges" name="edge[width]" options="{edgeWidths}" value=""/> </li>
		</ul><div class="clear"/>
	</li>
	
	<li>
		<h2>User Icons</h2>
		<ul class="fixedLine">
			<f:for each="{userIcons}" as="icon" key="name">
				<li>
					<f:form.checkbox id="cui{name}" name="nodeicon[]" value="{name}"/>
					<label for="cui{name}"><f:image class="nodeIcon" src="{icon}" alt="{name}" />{name}</label>
				</li>
				
			</f:for>
		</ul>
		<div class="clear"/>
	</li>
	
	<li>
		<h2>Node Icons</h2>
		<ul class="fixedLine">
			<f:for each="{icons}" as="icon" key="name">
				<li>
					<f:form.checkbox id="cb{name}" name="nodeicon[]" value="{name}"/>
					<label for="cb{name}"><f:image class="nodeIcon" src="{f:uri.resource(path:'{icon}')}" alt="{name}" />{name}</label>
				</li>
				
			</f:for>
		</ul>
		<div class="clear"/>
	</li>
	
</ul>

</f:form>

</f:section>