.clear { clear:both; }
.floatLeft { float:left; }

.footer {
	border-top:1px solid #ececec;
	width:500px;
	margin-left:auto;
	margin-right:auto;
}

ul li {
	margin:1em;
}

ul.fixedLine li {
	margin:0.7em;
	float:left;
	width:200px;
	white-space:no-wrap;
}

ul.fixedLine input[type=text] {
	width:100px;
}

img.nodeIcon {
	width:16px; height:16px; margin-right:5px;
}

.padLeft {
	float:left;
	padding-left:1em;
}
 
div.colorarea {
	padding:0 2em;
	margin:0;
	float:right;
}

.flattr {
	padding:1em 3em;
	margin:0 auto;
	width:55px; height:62px;
	overflow:hidden;
}
.github {
	padding:20px 0;
	margin:1em auto;
	width:155px; height:62px;
	vertical-align:middle;
	text-align:center;
}


table.error tr td, table.error tr th {
	padding:3px;
}